<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBr-goec8oiUFyNe5WV8vkI8hOWVyjwGg</string>
	<key>GCM_SENDER_ID</key>
	<string>160008307714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appchat</string>
	<key>PROJECT_ID</key>
	<string>tdm2023-2-b7953</string>
	<key>STORAGE_BUCKET</key>
	<string>tdm2023-2-b7953.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160008307714:ios:7f9e48d8ce6f1d1868131b</string>
</dict>
</plist>